:root {
  /* Основной черный */
  --black: #5C2127;
  /* Основной голубой */
  --blue: #48B1EA;
  /* Голубой для кнопок в темной теме*/
  --light-blue: #ACCFF8;
  /* Голубой для кнопок в темной теме при наведении*/
  --light-blue-hover: #D5DEEA;
  /* Синий для кнопок в светлой теме*/
  --dark-blue: #1C546D;
  /* Синий для кнопок в светлой теме при наведении*/
  --dark-blue-hover: #169B63;
  /* Красный для не валидных инпутов*/
  --red: #E50607;
  /* Зеленый для валидных инпутов*/
  --green: #265928;
--white: #f1f1f1;
}